body {
	max-width: 1920px;
	margin: auto;
}
* {
	font-family: 'Inter';
	font-display: swap;
	font-style: normal;
}
.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	
	padding-inline: 100px;
	padding-block: 15px;
	align-items: center;
}

.top-header .name {
	font-size: 38px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 20px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000
}

.nav li.logo{
	height: 20px;
	width: 20px;
}

.social-link img {
	width: 20px;
	height: 20px;
}

.carrousel__image{
	height:888px;
	width: 100%;

	object-fit: cover;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 50px;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

#about-me {
	flex: 2
}
.about-me__title {
	margin-bottom: 60px;
	font-size: 30px;
}
.about-me__introduction {
	font-family: 'Spectral';
	font-display: swap;
	font-weight: 800;
	font-style: italic;
	font-size: 18px;

	letter-spacing: 1px;
	width: 70%;
	line-height: 1.6;
	margin-bottom: 30px;
}

.about-me__introduction--text {
	width: 80%;
	font-size: 17px;
	line-height: 1.6;
	letter-spacing: 1px;
}

.about--picture{
	width: 429px ;	
	height: 428px ;
}

.title{
	text-align: center;
	padding-top:40px ;
	font-size: 28px;
	margin: 0;
	z-index: 100;
	position: relative;
}
.gallery .nav {
	justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1C6474;
	border-radius:0 ;
}
.nav-pills .nav-link {
	color: #000
}
.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;
}

.gallery-item {
	position: absolute;
	width: 440px;
	height: 440px;
	object-fit: cover;
	padding: .5em;
}
.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

.quote {
	font-family: 'Spectral';
	font-display: swap;
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-family: 'Spectral';
	font-display: swap;
	font-style: italic;
	font-weight: 300;
	font-size: 36px;

}
.quote__author {
	font-family: 'Spectral';
	font-display: swap;
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
.service__description--title{
	font-size: 24px;
}

.service__price--price{
	font-size: 20px;
	font-weight: 500;
}

.service__price--detail{
	font-size: 16px;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

.contact__picture{
	width: 418px;
	height: 417px;
}

footer{
	
	display: flex;
  align-items: center;	
  flex-direction: column;
	padding-top: 2rem ;
	padding-bottom: 3rem;
	padding: 3rem 10rem 3rem;
}

.footer--titre{
	margin-bottom: 40px;
	
}

.footer--adresse{
	margin-top: 15px ;
}

.footer--adresse span{
	font-size: 20px;
	font-family: 'Spectral';
	font-display: swap;
	color: black;
}

.footer--telephone{
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-family: 'Spectral' ;
	font-display: swap;
	margin-bottom: 15px;
}

.footer--horaire{
	color: black;
	font-family: 'Spectral' ;
	font-display: swap;
	font-size: 20px;
	margin-bottom: 5px;
}

.contact--legend{
	font-size: 16px;
}

@media all and (max-width: 1500px ){
	.carrousel__image{
		height: 665px ;
		width: 100%;
	}
}

/*---------------------------------------------------------------*/
@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h6, #about-me p {
		width: 100%;
	}
	.quote__text{
		font-size: 24px;
	}

	.carrousel__image{
		height:473px;
		width: 100%;
	}

	.gallery-item {
		width: 320px;
		height: 320px;
	}
}


/*---------------------------------------------------------------*/
@media all and (max-width: 1000px) {

	.top-header{
		padding: 15px 25px;
	}

	.top-header .nav li {
		font-size: 16px;
	}
	#about{
		flex-direction: column;
	}
	
	.carrousel__image{
		height:355px ;
		width: 100%;
	}

	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services .container::before{
		width: 20%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	
	.contact__picture{
		width: 272px;
		height: 271px;
	}

	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}

	.gallery-item {
		width: 240px;
		height: 240px;
	}

	footer{
		padding: 3rem 3rem 3rem;
	}

	.footer--titre{
		font-size: 22px;
		
	}
}


/*---------------------------------------------------------------*/
@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
		padding:10px
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		padding: 0 0 0 5px;
		
	}
	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		padding:0 ;
		text-align: center;
		font-size: 14px;
		
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	
	form {
		width: 100%;
	}
	
	.quote__text{
		font-size: 22px;
	}

	.about--picture{
		width: 248px ;
		height: 248px ;	

	}

	.picture.right{
		margin: 0;
	}

	.contact__picture{
		width: 229px;
		height: 228px;
	}

	.carrousel__image{
		height:196px ;
		width: 100%;
	}

	.gallery-item {
		width: 425px;
		height: 425px;
	}

	footer{
		padding: 2rem 1rem 2rem 1rem ;
		
		
	}

	.footer--titre{
		font-size: 18px;
		
		
	}
	
	.footer--horaire, .footer--adresse span, .footer--telephone{
		font-size: 14px;
	}

	.contact--legend{
		font-size: 14px;
	}
}





@media all and (max-width: 380px) {
	.gallery-item {
		width: 375px;
		height: 375px;
	}
}

@media all and (max-width: 345px) {

	.carrousel__image{
		height:147px ;
		width: 100%;
	}
	.about--picture{
		width: 204px ;	
		height: 203px;
	}
	.gallery-item{
		width: 320px;
		height: 320px;
	}
}